body{
    font-family: 'Roboto', sans-serif;
    background-image: url('../assets/icon/background.jpg');
    background-size: cover;
    padding-top: 20px;
    font-weight: 500;
}
.op{
    border: rgb(9, 255, 0) solid 1px;
}
.container{
    padding: 0 10px;
    margin: 0 auto;
}
h1{
    display: none;
}
/*-------------------------------------------------*/

.header-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-logo{
    margin-bottom: 15px;
}
.header-logo img{
    width: 100%;
}
.header-contacts{
    margin-bottom: 15px;
}
.header-contact-auto-service{
    margin-bottom: 10px;
}
.header-contacts span{
    margin-right: 15px;
}
.header-contacts a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
    animation: number-color 4s infinite;
}
.header-addres{
    margin-bottom: 15px;
}

@keyframes number-color{
    0% {color: black;}
    50% {color: red;}
    100% {color: black;}

}
/**-------------------------*/

.menu{
    background-color: black;
    padding: 10px 15px;
    position: relative;
}
.menu-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu span{
    color: white;
    display: block;
    letter-spacing: 1px;
}
.burger-bar-img{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
}
.burger-bar-img img{
    width: 40px;
    position: absolute;
}
.burger-bar, .burger-bar-close{
    transition: 0.5s;
}
.scale0{
    transform: scale(0);
    transition: 0.5s;
}
.burger-bar-content ul{
    margin: 0;
}
.burger-bar-content{
    position: absolute;
    background-color: black;
    transition: 1s;
    overflow: hidden;
    max-height: 500px;
    width: 100%;
    left: 0;
    border-top: 1px solid rgb(255, 255, 255);
    z-index: 2;
}
.height0{
    max-height: 0;
    border: none;
}
.burger-bar-content li{
    margin-bottom: 20px;
    list-style: none;
}
.burger-bar-content li:first-child{
    margin-top: 20px;
}
.burger-bar-content a{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}
.burger-bar-content a:hover,
.burger-bar-content a:active{
    transition: all 0.5s;
    color: red;
}

/*-----------------------------*/
.carousel{
    margin-bottom: 40px;
}
.carousel-item img{
    height: 350px;
}
.carousel-caption h5{
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

/*-------------------------------------*/
h2{
   text-align: center;
}
.hello{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.5);
}
.hello p span{
    font-weight: 700;
}

.button-hello{
   display: flex;
   justify-content: center;
}

.button-hello button{
    border: none;
    background-color: black;
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    margin: 20px;
    transition: 0.5s;
}
.button-hello button:active{
    transform: scale(1.3);
    transition: 0.5s;
    background-color: red;
    color: black;
}
/*--------------------------------------*/