/*------------------------service---------------------------*/
h1,
h5{
    width: 100%;
    text-align: center;
}
.btn-services-page{
margin: 20px;
}
.button-formPopup{
    margin: 10px;
}
.main-menu ul li{
    margin: 5px 40px 5px 0;
    color: white;
    transition: all 0.5s;
}
.main-menu ul li:hover{
    color: red;
    transition: all 0.5s;
}
.main-menu ul li img{
    transform: rotate(270deg);
    width: 10px;
    margin-left: 10px;
}
.font-size-0{
    font-size: 0px;
}
.carousel-control-prev,
.carousel-control-next{
    width: 0;
}
.services-description p{
    padding: 0 0 5px 5px;
    border-left: 2px solid #000;
}
.services-description-wiki{
    text-align: end;
    margin-bottom: 50px;
}
.services-description a{
    text-decoration: none;
    font-weight: 400;
    color: black;
    font-style: 12px;
    transition: all 0.2s;
}
.services-description a:hover,
.services-description a:active{
    color: red;
    font-weight: 700;
    transition: all 0.2s;
}
.services-description a img{
    width: 20px;
    transition: all 0.2s;
}
.services-description a:hover img,
.services-description a:active img{
    transform: scale(1.3);
    transition: all 0.2s;
}
.services-description-img{
        width: 100%;
        margin-bottom: 50px;
        border: solid 4px rgb(0, 0, 0);
}
.services-price{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.services-price table,
.services-description h1,
.services-description p,
.services-description h5,
.services-description ul,
.services-description-wiki{    
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.5);
}

.services-price table{
    width: 100%;
    margin: 0;
}
.services-price .td-center{
    text-align: center;
}
.services-price th{
    text-align: center;
    border-bottom: solid 2px rgb(0, 0, 0);
}
.services-price thead th:first-child,
.services-price tbody td:first-child{
    border-right: solid 2px rgb(0, 0, 0)
}
.services-price tr{
    border-bottom: solid 2px rgb(0, 0, 0);
    padding-left: 5px;
}
.services-price tfoot{
    font-size: 14px;
    font-weight: 400;
}
table.services-price-inside-table tr{
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}
table.services-price-inside-table td:first-child{
    text-align: left;
    border-right: solid 1px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    width: 70%;
}
table.services-price-inside-table tr:last-child{
    border-bottom: none;
}

@media (min-width: 1000px){
    .burger-bar-content{
        display: block;
        padding-left: 100px;
    }
}
@media (min-width: 1200px){
    .services-description{
        padding: 0 30px;
    }
    .services-price table{
        width: 80%;
    }
}



/*------------------------sale---------------------------*/


.sale-item{
    background-size: cover;
    margin-bottom: 30px;
    height: 400px;
    display: flex;    
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border: solid black 5px;
}
.sale-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 10px;
    min-height: 200px;
    width: 100%;
}
.sale-info p{
    color: white;
    margin: 0 0 1px 0;
    font-weight: 300;
    font-size: 14px;
}
.sale-info span{
    font-weight: 500;
}
.sale-item img{
    width: 30px;
}
.sale-call{
    width: 100%;
    padding: 5px;
    border-top: none;
    background-color: white;
    text-align: center;    
    color: black;
    text-decoration: none;
    display: block;
}
.sale-call:hover{
    background-color: black;
    color: white;
}
.sale-item-1{
    background-image: url('../assets/img/sale1.jpg');
}
.sale-item-2{
    background-image: url('../assets/img/sale2.jpg');
}
@media (min-width: 768px) {
    .sale-info{
        padding: 10px 40px;
        min-height: 150px;
    }  
}
@media (min-width: 1200px) {
    .sale-info{
        min-height: 100px;
    }  
    .sale-item{
        width: 80%;
        margin: 0 auto 30px auto;
    }
}

@media (min-width: 1400px) {
    .sale-wrapper{
        display: flex;
        justify-content: space-around;
    }
    .sale-item{
        width: 45%;
    }
}

/*------------------------------.advantages-----------------------*/

.advantages-carousel-control{
    width: 40px;
}
.advantages-info{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.4);
}
.advantages-info span{
    font-weight: 700;
}
.advantages-info .h5-bold{
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.advantages-info p{
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}
