.btn-services-page{
margin: 20px;
}
.dd-button:first-child{
    margin: 10px;
}
.main-menu ul li{
    margin: 5px 40px 5px 0;
    color: white;
    transition: all 0.5s;
}
.main-menu ul li:hover{
    color: red;
    transition: all 0.5s;
}
.main-menu ul li img{
    transform: rotate(270deg);
    width: 10px;
    margin-left: 10px;
}
.carousel-control-prev,
.carousel-control-next{
    width: 0;
}
@media (min-width: 1000px){
    .burger-bar-content{
        display: block;
        padding-left: 100px;
    }
}
