body{
    font-family: 'Roboto', sans-serif;
    background-image: url('../assets/icon/background.jpg');
    background-repeat: repeat;
    padding-top: 20px;
    font-weight: 500;
}
.op{
    border: rgb(9, 255, 0) solid 1px;
}
.container{
    padding: 0 10px;
    margin: 0 auto;
}
h1{
    display: none;
}
h2{
    margin-bottom: 40px;
}
.main-menu,
.hello-person{
    display: none;
    z-index: 5;
}
/*-------------------------------------------------*/

.header-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    'header-logo'
    'header-contacts'
    'header-addres';
    padding: 0 20px;
    margin: 0 auto;
}
.header-logo{
    margin-bottom: 15px;
    grid-area: header-logo ;
}
.header-logo img{
    width: 100%;
}
.header-contacts{
    margin-bottom: 15px;
    grid-area: header-contacts ;
}
.header-contacts a{
    font-family: 'Passion One', cursive;
    letter-spacing: 1px;
}
.header-contact-auto-service,
.header-contact-tire-service{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-contacts span{
    margin-right: 15px;
}
.header-contacts a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
    animation: number-color 4s infinite;
    transition: 0.5s all;
}
.header-addres{
    margin-bottom: 15px;
    grid-area:header-addres;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}
.header-addres img{
    width: 30px;
}
.header-addres a{
    text-decoration: none;
    color: black;
    white-space: nowrap;
    margin-right: 5px;
}
.header-addres a:hover{
    color: red;
}

@keyframes number-color{
    0% {color: black;}
    50% {color: red;}
    100% {color: black;}
}
.header-contact-auto-service a:hover,
.header-contact-tire-service a:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    margin-left: 10px;
    display: block;
}

/**-------------------------*/
.menu{
    background-color: black;
    padding: 5px 15px;
    position: relative;
    z-index: 5;
}
.menu-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu span{
    color: white;
    display: block;
    letter-spacing: 1px;
    white-space: nowrap
}
.burger-bar-img{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
}
.burger-bar-img img{
    width: 40px;
    position: absolute;
}
.burger-bar, .burger-bar-close{
    transition: 0.5s;
}
.scale0{
    transform: scale(0);
    transition: 0.5s;
}
.burger-bar-content ul{
    margin: 0;
}
.burger-bar-content{
    position: absolute;
    background-color: black;
    transition: 1s;
    overflow: hidden;
    max-height: 500px;
    width: 100%;
    left: 0;
    border-top: 1px solid rgb(255, 255, 255);
    z-index: 2;
}
.height0{
    max-height: 0;
    border: none;
}
.burger-bar-content li{
    margin-bottom: 20px;
    list-style: none;
}
.burger-bar-content li:first-child{
    margin-top: 20px;
}
.burger-bar-content a{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}
.burger-bar-content a:hover,
.burger-bar-content a:active{
    transition: all 0.5s;
    color: red;
}
.sticky-menu{
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
}
/*-----------------------------*/
.carousel{
    margin-bottom: 50px;
}
.carousel-item img{
    height: 100%;
}
.carousel-caption h5{
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

/*-------------------------------------*/
h2{
   text-align: center;
}
.hello{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.5);
    z-index: -1;    
}
.hello p span{
    font-weight: 700;
}

.button-hello{
   display: flex;
   justify-content: center;
   position: relative;
}
.button-hello a{
    color: white;
    text-decoration: none;
}
.dd-button{
    border: none;
    background-color: black;
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    margin: 20px;
    transition: 0.5s;
    margin-bottom: 100px;
}
.button-hello button:active{
    transform: scale(1.3);
    transition: 0.5s;
    background-color: red;
    color: black;
}
/*--------------------------------------*/

.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 50px;
}
.services a{
    text-decoration: none;
}
.service{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    z-index: 1;
}
.services-info{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:80px;
    padding: 20px;
    text-align: center;
}
.service-img-wrapper{
    overflow: hidden;
    width: 100%;
}
.service img{
    width: 100%;
    transition: 0.5s;
}
.scale12{
    transform: scale(1.2);
    transition: 0.5s;
}
.service::before,
.service::after{
    content: '';
    transition: 0.5s;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: red;
    z-index: -1;
}
.service::before{
    right: -4px;
    top: -4px;
}
.service::after{
    left: -4px;
    bottom: -4px;
}
.service:hover::before,
.service:hover::after{
    width: 100%;
    height: 100%;
}
.service:active::before,
.service:active::after{
    width: 100%;
    height: 100%;
}

/*---------------------------------*/

.simply-wrapper{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.5);
    z-index: -1;
}
.simply li span{
    font-weight: 700;
}
.simply-slogan{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.simply-slogan span{
    font-weight: 900;
}
.simply-elem{
    width: 90px;
}
.simply-arrow{
    width: 40px;
}
.simply-scheme {
    margin: 0 auto;
    max-width: 400px;
    display: grid;
    grid-template-columns: 1% 32% 32% 32% 1%;
    grid-template-rows: repeat(5, 120px);
    grid-template-areas:    
        '. phone arrow-1 clock .' 
        '. . . arrow-2 .'
        '. maintenance arrow-3 driving .'
        '. arrow-4 . . .'
        '. repair arrow-5 payment .';
    justify-items: center;
    align-items: center;
    margin-bottom: 80px;
}
.simply-phone {
    grid-area: phone;
}
.simply-arrow-1 {
    grid-area: arrow-1;
    transform: rotate(270deg);
}
.simply-clock {
    grid-area: clock;
}
.simply-arrow-2 {
    grid-area: arrow-2;
}
.simple-driving {
    grid-area: driving;
}
.simply-arrow-3 {
    grid-area: arrow-3;
    transform: rotate(90deg);
}
.simple-maintenance {
    grid-area: maintenance;
}
.simply-arrow-4 {
    grid-area: arrow-4;
}
.simply-repair {
    grid-area: repair;
}
.simply-arrow-5 {
    grid-area: arrow-5;
    transform: rotate(270deg);
}
.simply-payment {
    grid-area: payment;
}
h5{
    display: flex;
    justify-content:center ;
    margin-bottom: 20px;
}

/*---------------------------------------------------*/

footer{
    background-color: black;
    color: white;
}
.footer-info{
    display: grid;
    width: 100%;
    grid-template-columns: 70% 30%;
    grid-template-areas:
    'footer-car footer-social'
    'footer-tire footer-social'
    'footer-timetable footer-social'
    'footer-map footer-map';
    justify-items: center;
    align-items: center;
}
.footer-car-service {
    grid-area: footer-car;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-tire-service {
    grid-area: footer-tire;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.footer-car-service a,
.footer-tire-service a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    animation: number-color-footer 3s infinite;
    transition: 0.5s all;
    font-family: 'Passion One', cursive;
    letter-spacing: 1px;
}
.footer-car-service a:hover,
.footer-tire-service a:hover,
.footer-car-service a:active,
.footer-tire-service a:active{
    transform: scale(1.2);
    transition: 0.5s all;
}

@keyframes number-color-footer{
    0% {color: rgb(255, 255, 255);}
    50% {color: red;}
    100% {color: rgb(255, 255, 255);}

}

.footer-timetable {
    grid-area: footer-timetable;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-timetable a{
    text-decoration: none;
    margin-top: 15px;
    color: white;
}
.footer-timetable a:hover,
.footer-timetable a:active{
    color: red;
}
.footer-social {
    grid-area: footer-social;
    display: flex;
    flex-direction: column;
}
.footer-social img{
    width: 70px;
    margin: 20px 0;
}
.footer-social a{
    transition: all 0.5s;
}
.footer-social a:hover,
.footer-social a:active{
    transform: scale(1.1);
    transition: all 0.5s;
}

.footer-map {
    grid-area: footer-map;
    width: 100%;
}
.footer-map iframe{
    width: 100%;
    height: 350px;
}

.autor{
    display: flex;
    justify-content: end;
    padding-right: 10px;
}
.autor a{
    color: white;
    font-weight: 100;
    font-style: 14px;
    text-decoration: none;
}
.autor a:hover{
    color: red;
}


/*---------------------------------------*/

@media (min-width: 768px) {
    
    body{
        padding-top: 40px;
    }
.header-wrapper{
    grid-template-columns: 65% 35%;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    'header-logo header-contacts'
    'header-logo header-contacts'
    'header-addres header-contacts';
    padding: 0 10px;
}
.header-logo{
    margin-bottom: 5px;
    grid-area: header-logo ;
}
.header-logo img{
    width: 100%;
}
.header-contacts{
    margin-bottom: 0;
    grid-area: header-contacts ;
}
.header-contact-auto-service,
.header-contact-tire-service{
    margin-bottom: 30px;
    flex-direction: column;
}
.header-contacts a{
    font-size: 25px;
}
.header-addres{
    grid-area:header-addres;
}


.hello-wrapper{
    font-weight: 400;
}

.carousel-item img{
    height: 100%;
}

.services{
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'suspensionRepair diagnosticsCar maintenance'
    'steeringRepair brakeSystem transmission'
    'tireService tireService tireFinishing';
    padding: 0;
}
.service{
    height: 250px;
}
.service-img-wrapper{
    width: auto;
    height: 100%;
}
.service-img-wrapper img{
    height: 100%;
    width: 150%;
}
#suspensionRepair{
    grid-area: suspensionRepair ;
}
#diagnosticsCar{
    grid-area: diagnosticsCar;
}
#maintenance{
    grid-area: maintenance;
}
#steeringRepair{
    grid-area: steeringRepair;
}
#tireFinishing{
    grid-area: brakeSystem;
}
#transmission{
    grid-area: transmission;
}
#tireService{
    grid-area: tireService;
}
#tireFinishing{
    grid-area: tireFinishing;
}
#tireService .service-img-wrapper{
    width: 100%;
}
#tireService .service-img-wrapper img{
    width: 100%;
}

.simply-wrapper{
    border: black 1px solid;
    padding-top: 20px;
    margin-bottom: 60px;
}
.simply li{
    margin-bottom: 10px;
}
.simply li:last-child{
    margin-bottom: 20px;
}
.simply-scheme {
    max-width: 700px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: repeat(2, 120px);
    grid-template-areas:    
        'phone arrow-1 clock arrow-2 driving' 
        '. . . . arrow-3'
        'payment arrow-5 repair arrow-4 maintenance';
    margin-bottom: 50px;
}
.simply-arrow-2 {
    transform: rotate(270deg);
}
.simply-arrow-3 {
    transform: rotate(0);
}
.simply-arrow-4 {
    transform: rotate(90deg);
}
.simply-arrow-5 {
    transform: rotate(90deg);
}
h5{
    display: flex;
    justify-content:center ;
    margin-bottom: 20px;
    margin-top: 5 0px;
}


footer{
    padding-top: 50px;
}
.footer-info{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    'footer-car footer-timetable'
    'footer-tire footer-social'
    'footer-map footer-map';
    justify-items: center;
    align-items: center;
}
.footer-car-service span{
    line-height: 150%;
}
.footer-social {
    grid-area: footer-social;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.footer-social img{
    width: 50px;
}
.footer-social a{
    margin-right: 30px;
}
.footer-social a:last-child{
    margin-right: 0;
}

.autor{
    font-size: 14px;
}

}
@media (min-width: 1000px){
    .carousel{
        max-width: 1000px;
        margin:  0 auto 100px auto;
        box-shadow: 0 0 60px 20px black;
    }
    .loft1{
        position: absolute;
        width: 50%;
        height: 563px;
        background-image: url(../assets/img/loft2.jpg);
        right: 0;
    }
    .loft2{
        position: absolute;
        width: 50%;
        height: 563px;
        background-image: url(../assets/img/loft1.jpg);
        left: 0;
    }
    .service{
        height: 300px;
    }
    .services-info{
        height:50px;
        padding: 10px;
    }
}
@media (min-width: 1100px){

.header-wrapper{
    align-items: end;
    grid-template-areas: 
    'header-logo header-contacts'
    'header-logo header-contacts'
    'header-logo header-addres';
}
.header-contact-auto-service,
.header-contact-tire-service{
    margin-bottom: 10px;
}

    .burger-bar-content,
    .burger-bar-img{
        display: none;
        font-size: 22px;
    }

    .main-menu,
    .hello-person{
        display: block;
        font-size: 22px;
        padding: 5px 0;
    }
    .main-menu ul{        
        display: flex;
        margin: 0;
    }
    .main-menu ul li{
        list-style: none;
        margin-right: 20px;
    }
    .main-menu ul li a{
        color: white;
        text-decoration: none;
    }
    .main-menu a:hover,
    .main-menu a:active{
        transition: all 0.5s;
        color: red;
    }

    .hello-wrapper{
        display: flex;
        align-items: center;
    }
    .hello-person{
        margin-right: 50px;
    }
    .hello-person img{
        width: 100%;
        border-radius: 5px;
        
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.5);
    }

    
    .simply-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .simpli-info{
        width: 60%;
    }
    .simply-scheme {
        width: 35%;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 120px 50px 120px;
        grid-template-areas:    
            'phone arrow-1 clock arrow-2 driving' 
            '. . . . arrow-3'
            'payment arrow-5 repair arrow-4 maintenance';
    }
    .simply-elem{
        width: 50px;
    }
    .simply-arrow{
        width: 20px;
    }


    .footer-info{
        display: grid;
        width: 100%;
        grid-template-columns: 40% 60%;
        grid-template-areas:
        'footer-car footer-map'
        'footer-tire footer-map'
        'footer-timetable footer-map'
        'footer-social footer-map';
    }
    .footer-social {
        margin-bottom: 0px;
    }
}

@media (min-width: 1200px){
    #tireService .service-img-wrapper img{
        height: 150%;
    }
}
@media (min-width: 1400px){
    .header-contacts a{
        font-size: 30px;
    }
    .services-wrapper{
        width: 1100px;
    }

}
@media (min-width: 1600px){
    .header-contacts span{
        font-size: 24px;
    }
    .header-addres{
        font-size: 20px;
    }
    .header-contacts a{
        font-size: 35px;
    }
    .footer-info{
        display: grid;
        width: 100%;
        grid-template-columns: 15% 15% 70%;
        grid-template-areas:
        'footer-car footer-tire footer-map'
        'footer-timetable footer-social footer-map';
    }
    
}