body{
    font-family: 'Roboto', sans-serif;
    background-image: url('../assets/icon/background.jpg');
    background-repeat: repeat;
    padding-top: 20px;
    font-weight: 500;
}
.op{
    border: rgb(9, 255, 0) solid 1px;
}
.container{
    padding: 0 10px;
    margin: 0 auto;
}
h1{
    display: none;
}
h2{
    margin-bottom: 40px;
}
/*-------------------------------------------------*/

.header-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-logo{
    margin-bottom: 15px;
}
.header-logo img{
    width: 100%;
}
.header-contacts{
    margin-bottom: 15px;
}
.header-contact-auto-service,
.header-contact-tire-service{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-contacts span{
    margin-right: 15px;
}
.header-contacts a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
    animation: number-color 4s infinite;
    transition: 0.5s all;
}
.header-addres{
    margin-bottom: 15px;
}

@keyframes number-color{
    0% {color: black;}
    50% {color: red;}
    100% {color: black;}
}
.header-contact-auto-service a:hover,
.header-contact-tire-service a:hover{
    transform: scale(1.2);
    transition: all 0.5s;
    margin-left: 10px;
    display: block;
}

/**-------------------------*/
.menu{
    background-color: black;
    padding: 10px 15px;
    position: relative;
}
.menu-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu span{
    color: white;
    display: block;
    letter-spacing: 1px;
}
.burger-bar-img{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
}
.burger-bar-img img{
    width: 40px;
    position: absolute;
}
.burger-bar, .burger-bar-close{
    transition: 0.5s;
}
.scale0{
    transform: scale(0);
    transition: 0.5s;
}
.burger-bar-content ul{
    margin: 0;
}
.burger-bar-content{
    position: absolute;
    background-color: black;
    transition: 1s;
    overflow: hidden;
    max-height: 500px;
    width: 100%;
    left: 0;
    border-top: 1px solid rgb(255, 255, 255);
    z-index: 2;
}
.height0{
    max-height: 0;
    border: none;
}
.burger-bar-content li{
    margin-bottom: 20px;
    list-style: none;
}
.burger-bar-content li:first-child{
    margin-top: 20px;
}
.burger-bar-content a{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}
.burger-bar-content a:hover,
.burger-bar-content a:active{
    transition: all 0.5s;
    color: red;
}
.sticky-menu{
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
}
/*-----------------------------*/
.carousel{
    margin-bottom: 80px;
}
.carousel-item img{
    height: 350px;
}
.carousel-caption h5{
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

/*-------------------------------------*/
h2{
   text-align: center;
}
.hello{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.5);
    z-index: -1;
}
.hello p span{
    font-weight: 700;
}

.button-hello{
   display: flex;
   justify-content: center;
}

.dd-button{
    border: none;
    background-color: black;
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    margin: 20px;
    transition: 0.5s;
    margin-bottom: 100px;
}
.button-hello button:active{
    transform: scale(1.3);
    transition: 0.5s;
    background-color: red;
    color: black;
}
/*--------------------------------------*/
.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 50px;
}
.service{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    z-index: 1;
}
.services-info{
    background-color: black;
    width: 100%;
    height:80px;
    padding: 20px;
    text-align: center;
}
.service-img-wrapper{
    overflow: hidden;
    width: 100%;
}
.service img{
    width: 100%;
    transition: 0.5s;
}
.scale12{
    transform: scale(1.2);
    transition: 0.5s;
}
.service::before,
.service::after{
    content: '';
    transition: 0.5s;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: red;
    z-index: -1;
}
.service::before{
    right: -4px;
    top: -4px;
}
.service::after{
    left: -4px;
    bottom: -4px;
}
.service:hover::before,
.service:hover::after{
    width: 100%;
    height: 100%;
}
.service:active::before,
.service:active::after{
    width: 100%;
    height: 100%;
}

/*---------------------------------*/

.simply-wrapper{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.5);
    z-index: -1;
}
.simply li span{
    font-weight: 700;
}
.simply-slogan{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.simply-slogan span{
    font-weight: 900;
}
.simply-elem{
    width: 90px;
}
.simply-arrow{
    width: 40px;
}
.simply-scheme {
    margin: 0 auto;
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 120px);
    grid-template-areas:    
        'phone arrow-1 clock' 
        '. . arrow-2'
        'maintenance arrow-3 driving'
        'arrow-4 . .'
        'repair arrow-5 payment';
        justify-items: center;
        align-items: center;
        margin-bottom: 80px;
}
.simply-phone {
    grid-area: phone;
}
.simply-arrow-1 {
    grid-area: arrow-1;
    transform: rotate(270deg);
}
.simply-clock {
    grid-area: clock;
}
.simply-arrow-2 {
    grid-area: arrow-2;
}
.simple-driving {
    grid-area: driving;
}
.simply-arrow-3 {
    grid-area: arrow-3;
    transform: rotate(90deg);
}
.simple-maintenance {
    grid-area: maintenance;
}
.simply-arrow-4 {
    grid-area: arrow-4;
}
.simply-repair {
    grid-area: repair;
}
.simply-arrow-5 {
    grid-area: arrow-5;
    transform: rotate(270deg);
}
.simply-payment {
    grid-area: payment;
}
h5{
    display: flex;
    justify-content:center ;
    margin-bottom: 20px;
}

/*---------------------------------------------------*/

footer{
    background-color: black;
    color: white;
}
.footer-info{
    display: grid;
    width: 100%;
    grid-template-columns: 70% 30%;
    grid-template-areas:
    'footer-car footer-social'
    'footer-tire footer-social'
    'footer-timetable footer-social'
    'footer-map footer-map';
    justify-items: center;
    align-items: center;
}
.footer-car-service {
    grid-area: footer-car;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-tire-service {
    grid-area: footer-tire;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-car-service a,
.footer-tire-service a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    animation: number-color-footer 3s infinite;
    transition: 0.5s all;
}
.footer-car-service a:hover,
.footer-tire-service a:hover,
.footer-car-service a:active,
.footer-tire-service a:active{
    transform: scale(1.2);
    transition: 0.5s all;
}

@keyframes number-color-footer{
    0% {color: rgb(255, 255, 255);}
    50% {color: red;}
    100% {color: rgb(255, 255, 255);}

}

.footer-timetable {
    grid-area: footer-timetable;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-social {
    grid-area: footer-social;
    display: flex;
    flex-direction: column;
}
.footer-social img{
    width: 70px;
    margin: 20px 0;
}
.footer-social a{
    transition: all 0.5s;
}
.footer-social a:hover,
.footer-social a:active{
    transform: scale(1.1);
    transition: all 0.5s;
}

.footer-map {
    grid-area: footer-map;
    width: 100%;
}
.footer-map iframe{
    width: 100%;
    height: 350px;
}

.autor{
    display: flex;
    justify-content: end;
    padding-right: 10px;
}
.autor a{
    color: white;
    font-weight: 100;
    font-style: 14px;
    text-decoration: none;
}
.autor a:hover{
    color: red;
}